
/* Desctop  */

@media   screen and (max-width: 1500px) {
   
}


@media   screen and (max-width: 1200px) {
    .text{
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .text{
        font-size: 10px;
        text-align:center;
    }
    .fix{
        height: 70px;
    }
}

@media   screen and (max-width: 768px) {
    .text{
        font-size: 20px;
        text-align: center;
    }

    .Block{
    width: 350px;
    white-space:normal;
	margin: 0 auto;
	border-radius: 5px;
    }
}

@media   screen and (max-width: 480px) {
    .text{
        font-size: 16px;
        text-align: center;
    }
    .Block{
        width: 150px;
        white-space:normal;
        margin-left: 16%;
        border-radius: 5px;
        }
        .block{
            width: 100%;
            white-space:normal;
            margin-left: 16%;
            border-radius: 5px;
            }
}


@media   screen and (max-width: 320px) {
    .text{
        font-size: 23px;
        text-align: center;
    }
    .Block{
        width: 70px;
        white-space:normal;
        margin-left: 0px;
        border-radius: 5px;
        }
    .ss{
        margin-top: 0%;
        margin-left: 20px;
        text-align: center;
        font-size: 20px;
    }
}